extends ../layout/index

block contenido
  div.py-10 
    h1.text-4xl.my-10.font-extrabold.text-center.text-cyan-300  Bienes
      span.font-normal Raices
    h2.text-center.text-2xl.font-extrabold.text-sky-400 Bienvenido al panel de administración
    p.text-xl.text-center Hola, #{usuario.nombre}
    p.text-center Tu correo es: #{usuario.email}
