extends ../layout/index

block contenido
    div.py-10 
        h1.text-4xl.my-10.font-extrabold.text-center.text-cyan-300  Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold.text-sky-400 Recupera tu Contraseña
    .mt-8.mx-auto.max-w-md
        .bg-white.py-8.px-4.shadow
            form(action="").space-y-5.px-6
                input(type="hidden" name="_csrf" value=csrfToken)
                div 
                    label.block.text-sm.uppercase.text-gray-300.mb-2.font-bold(for="email") Correo Electrónico
                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Email @.com" type="email" name="email")
                .flex.items-center.justify-between 
                    a.text-gray-500.text-xs(href="/auth/createAccount" class="hover:underline hover:decoration-2 hover:text-cyan-500") ¿Aún no tienes cuenta? Regístrate 
                    a.text-gray-500.text-xs(href="/auth/login" class="hover:underline decoration-2 hover:text-cyan-500") ¿Ya tienes cuenta? Entra a la plataforma...
                input(class="w-full bg-rosa hover:bg-cyan-500 text-white font-bold py-3 cursor-pointer" type="submit" value="Recuperar Contraseña")